* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
}
